html {
    box-sizing: border-box;
}

*,
::after,
::before {
    box-sizing: inherit;
}

body {
    background-color: #eee;
    padding: 10px 20px;
}

.container {
    margin: 0 auto;
    padding: 30px;
    background-image: url("../images/background.jpg");
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    max-width: 800px;
}

.tableContainer {
    overflow-x: auto;
}